<h1>Reports</h1>
<%= link_to 'New Report', new_report_path %>
<ul>
  <% @reports.each do |report| %>
    <li>
      <%= link_to report.title, report %>
      <%= link_to 'Edit', edit_report_path(report) %>
      <%= button_to 'Destroy', delete_report_path(report), method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>
