<footer class="footer">
    <span id="copyC">©</span><p>2024 Your Company. All rights reserved.</p>
    <img src="https://www.repstatic.it/content/nazionale/img/2017/09/12/095727836-c36c7100-6020-40fd-ab27-f58df42b576c.jpg" alt="scimmia" id="hiddenImage" style="display: none;">
</footer>