.footer {
    padding: 20px;
    background-color: #f8f9fa;
    text-align: center;
    position: relative;
  }
  .footer p {
    margin: 0;
    display: inline-block;
    position: relative;
  }
  .hidden-image {
    display: none;
    margin-top: 20px;
    height: 100px;
    width: auto;
  }