@import "colors";

.btn-edit {
    background-color: #ff9800 !important; /* Arancione */
    color: white !important;
}
.btn-back {
    background-color: #f44336 !important; /* Rosso */
    color: white !important;
}
.report-title {
    margin-top: 20px;
}
.report-content {
    margin-top: 20px;
}